# FILE: requirements.txt
# --------------------------------------------------------------------------------
# Core ML

numpy<1.24
pandas
scikit-learn
lightgbm
xgboost
catboost

# Data Handling & Utilities
joblib
tqdm

# Evaluation & Plotting
matplotlib
seaborn
statsmodels # Check if still needed for LOWESS in plots

pytest
