# FILE: requirements.txt
# --------------------------------------------------------------------------------
# Core ML
numpy<1.24
pandas
scikit-learn
lightgbm
xgboost # If XGBoost is still needed after debloating
catboost # If CatBoost is still needed after debloating

# Data Handling & Utilities
joblib
tqdm

# Evaluation & Plotting
matplotlib
seaborn
statsmodels # Check if still needed for LOWESS in plots

# Optional: Testing
pytest
